*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    position: relative;
    text-align:center;
    color:white;
}

.toppic{
    margin: 3%;
            position: relative;
}
.firsttxt{
    position: absolute;
            top: 17px;
            left: 50px;
}
.center{
    position:absolute;
    top:230px;
    background:rgba(65, 65, 61, 0.74);
    align-items:center;
    left:50%;
    right:30%;
    margin-left:-17%;
    border-radius:15px;
    padding:2%;

}

nav{
    display:flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    align-items:center;
    min-height:8vh;
    background-color:rgb(168, 158, 158);
}
.nav-links{
    display:flex;
    justify-content:space-around;
    width:30%
}
.nav-links li{
    list-style:none;
}
.heading{
    color:white;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-links a{
    color:white;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing:2px;
    font-weight:normal;
    font-size:10px;
    padding:19px 18px;
}
.nav-links li a:hover:not(.active){
    background-color:#74a6c7;
}
.nav-links li a.active{
    background-color:#3287c1; 
}
